.stars {
  position: absolute;
  top: 5vh;
  left: 2vw;
  scale: 120%;
  z-index: 1;
}

.stars svg circle:nth-child(2n) {
  animation: 2s starBlink infinite;
}

.stars svg circle:nth-child(2n + 1) {
  animation: 2.5s starBlink infinite;
}

.stars svg path:nth-child(2n) {
  animation: 3s starBlink infinite;
}

.stars svg path:nth-child(2n + 1) {
  animation: 3.75s starBlink infinite;
}

@keyframes starBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}
