.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 241px;
  height: 40px;
}

@media (max-height: 768px) {
  .navbar__logo {
    height: 30px;
  }

  .navbar__logo img {
    height: 30px;
  }
}

.navbar__title {
  margin-left: 1em;
}

@media (max-width: 996px) {
  .navbar__title {
    display: none;
  }
}
