.toggle {
  width: 5rem;
  height: 2.5rem;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--swm-color-mode-enabled);
  border-radius: 0;
  box-shadow: none;

  transition: background var(--ifm-transition-fast);
}

.toggleButton:hover {
  background: var(--ifm-color-emphasis-200);
}

.toggleButtonDisabled {
  cursor: not-allowed;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  height: 100%;

  color: var(--swm-color-mode-disabled-color);
}

.darkIconContainer {
  flex: 1;
  height: 100%;
  transform: scaleX(-1);
}

[data-theme='dark'] .darkToggleIcon,
[data-theme='light'] .lightToggleIcon {
  color: var(--ifm-font-color-base);
  background-color: var(--swm-color-mode-enabled);
}