.toggle {
  width: 5rem;
  height: 2.5rem;

  margin-right: 0;
}

@media (max-height: 768px) {
  .toggle {
    width: 4rem;
    height: 2rem;
  }
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--swm-color-mode-enabled);
  border-radius: 0;
  box-shadow: none;

  transition: background var(--ifm-transition-fast);
}

.toggleButton:hover {
  background: var(--ifm-color-emphasis-200);
}

.toggleButtonLanding.toggleButton:hover {
  background: var(--swm-navy-light-20);
}

.toggleButtonLanding {
  border: 1px solid var(--swm-color-mode-enabled-landing);
}

.toggleButtonDisabled {
  cursor: not-allowed;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  height: 100%;

  color: var(--swm-color-mode-disabled-color);
}

.iconLandingContainer {
  color: var(--swm-color-mode-disabled-color-landing);
}

@media (max-height: 768px) {
  .iconContainer svg {
    width: 65%;
    height: 65%;
  }
}

.darkIconContainer {
  flex: 1;
  height: 100%;
  transform: scaleX(-1);
}

[data-theme="dark"] .darkToggleIcon,
[data-theme="light"] .lightToggleIcon {
  color: var(--ifm-font-color-base);
  background-color: var(--swm-color-mode-enabled);
}

[data-theme="dark"] .iconLandingContainer.darkToggleIcon,
[data-theme="light"] .iconLandingContainer.lightToggleIcon {
  color: var(--swm-color-mode-enabled-color-landing);
  background-color: var(--swm-color-mode-enabled-landing);
}
