.container {
  display: flex;
  flex-direction: column;

  contain: content;

  background-color: var(--swm-off-background);
  border: 1px solid var(--swm-interactive-border);
}

.largerContainer {
  min-height: 400px;
}

.container[data-ispreview="false"] {
  height: 400px;
}

[class*="codeBlockContainer"] {
  box-shadow: none;
}

.interactiveCodeBlock [class*="codeBlockContent"] pre {
  border-radius: 0;
  border: none;
}

.interactiveCodeBlock [class*="codeBlockContent"] code {
  background-color: var(--swm-off-background);
  width: 100%;
  padding: 0;
}

.code {
  flex: 1;
}

.buttonsContainer {
  display: flex;
  padding: 1.5em;
  justify-content: flex-end;
  align-items: center;
}

.container[data-ispreview="false"] .buttonsContainer {
  padding-bottom: 10px;
}

.previewContainer {
  flex: 1 1 auto;

  margin: 1em 0;
  padding: 0 2em;
}

/* Style preview only when user is in the 'code' section */
.container[data-ispreview="false"] .previewContainer {
  flex: 1 1 auto;
  overflow-y: auto;

  padding: 0 24px;
  margin: 0 8px 8px 0;
}

@supports selector(::-webkit-scrollbar) {
  .previewContainer::-webkit-scrollbar {
    background-color: var(--swm-off-background);
    width: 8px;
  }

  .previewContainer::-webkit-scrollbar-thumb {
    background-color: var(--swm-scrollbar-color);
    border-radius: 1em;
  }
}

.actionButton {
  background-color: inherit;
  border: none;
  margin-right: 0.5em;
  padding: 0 0 2px 0;
  cursor: pointer;

  color: var(--swm-interactive-button-color);
}

.actionButton:last-of-type {
  margin-right: 2em;
}

.actionIcon {
  cursor: pointer;
}

.actionButtonActive {
  color: var(--swm-interactive-button-active);
  border-bottom: 1px solid var(--swm-interactive-button-active);
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.25em;

  /* Border applied to omit enlarging icon during the animation. */
  border: 1px solid transparent;
  border-radius: 3px;
}

.copyClicked {
  animation: 1s copyClick;
}

@keyframes copyClick {
  0% {
    border: 1px solid var(--swm-interactive-copy-button-off);
  }
  50% {
    border: 1px solid var(--swm-interactive-copy-button-on);
  }
  100% {
    border: 1px solid var(--swm-interactive-copy-button-off);
  }
}
