nav {
  --ifm-navbar-padding-vertical: 0 1.25rem;
  --ifm-navbar-padding-horizontal: 0 0;
  --ifm-navbar-height: 60px;

  --ifm-navbar-shadow: none;
}

.navbarSearchWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbarSearch button {
  border-radius: 0;
  color: var(--swm-searchbar-text-color);
  border: 1px solid var(--swm-color-mode-enabled);
  background: var(--swm-searchbar-background);
  height: 38px; /* should be --swm-logo-height but optical illusion makes the search bar smaller then the theme picker*/
}

@media (max-height: 768px) {
  nav {
    --ifm-navbar-height: 56px;
  }
}

@media (max-width: 996px) {
  nav {
    --ifm-navbar-padding-vertical: 0;
    --ifm-navbar-padding-horizontal: 1.5em;
  }

  .navbarSearch {
    position: static;
    margin-right: 1em;
    padding: 0;
  }
}

@media (min-width: 997px) {
  .logoWrapper {
    display: flex;
    justify-content: center;
    width: 300px;
  }
}

.colorModeToggle {
  margin: 0 1.5em;
}

/* In other pages than documentation, Docusaurus disables margin-right for the last element on the right side.
 * This block disables this behavior.
 */
[class*='navbar__items--right'] > :last-child {
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}

.navbarItemsLanding a, .navbarItemsLanding:hover a {
  display: inline-block;
  color: var(--swm-off-white);
}

@media (min-width: 997px) {
  [class*="navbar__items--left"] {
    flex: 1;
    width: 100%;
  }

  .navbarSearch {
    width: 100%;
    max-width: 600px;
    justify-self: flex-end;
  }

  button[class*="DocSearch-Button"] {
    flex: 1;
    width: 100%;
    font-family: var(--swm-title-font);
  }
}

/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}
