.tocItems span {
  font-weight: 500;
}

.tocItems a[class*="active"] span {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.tocItems a code {
  padding: 0;
  background-color: inherit;
}
