[class*="navbar-sidebar__items"] {
  height: calc(100% - var(--ifm-navbar-height) - 123px);
}

[class*="navbar-sidebar__brand"] {
  padding-left: 20px;
}

@media (max-width: 997px) {
  [class*="navbar-sidebar__brand"] {
    --ifm-navbar-height: 68px;
  }
}

.sidebarGithubIcon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.sidebarFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /*position: sticky;*/
  padding: 0 1em;
  bottom: 0;

  height: 4em;
  background-color: var(--swm-sidebar-elements-background);
}
