footer {
  --ifm-footer-padding-vertical: 2.5rem;
  --ifm-footer-padding-horizontal: 4rem;
  --ifm-footer-background-color: var(--swm-background);
}

@media (max-width: 996px) {
  footer {
    --ifm-footer-padding-vertical: 1.5em;
  }
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
}

@media (max-width: 997px) {
  .footer {
    justify-content: center;
  }
}

footer p {
  color: var(--swm-copyright-color);
  margin-bottom: 0;
}

footer p.landing {
  color: var(--swm-copyright-color-landing);
}

.footer__brand {
  color: var(--swm-brand-copyright-color);
}

.landing .footer__brand {
  color: var(--swm-brand-copyright-color-landing);
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 40px;
}

@media (max-width: 997px) {
  .footer__logo {
    display: none;
  }
}
