.hero {
    height: calc(100vh - var(--ifm-navbar-height));
    min-height: 800px;
}

.heroBackground {
    position: absolute;
    top: 0;

    background: linear-gradient(357.23deg, #FCFCFF 2.25%, rgba(252, 252, 255, 0) 53.95%), linear-gradient(180deg, #D1BBF3 0%, #FFD2D7 39.23%, #FFF1B2 84.63%);
    width: 100%;
    height: calc(100vh - var(--ifm-navbar-height));
    min-height: 800px;

    overflow: hidden;
    z-index: -100;
}

.foregroundLabel {
    margin-top: 25vh;
    margin-left: 10vw;

}

.heading {
    width: 80%;
    height: fit-content;
}

.headingLabel {
    font-size: 64px;
    font-weight: 700;
}

.subheadingLabel {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 56px;
    width: 600px;
}

.swirl {
    position: absolute;
    top: -6vh;
    right: -15vw;
    z-index: 2;
}

@media (max-width: 1550px) {
    .swirl {
        right: -10vw;
    }
}

@media (max-width: 1280px) {
    .swirl {
        top: -3vh;
        right: -8vw;
    }
}

@media (max-width: 997px) {
    .swirl {
        top: -3.5vh;
        right: -20vw;
    }
}

.horse {
    position: absolute;
    right: 15vw;
    bottom: 10vh;
}

@media (max-width: 1280px) {
    .horse {
        bottom: 10vh;
        scale: 80%;
    }
}

@media (max-width: 997px) {
    .horse {
        right: 5vw;
        bottom: 0;

        scale: 75%;
    }
}

@media (max-height: 997px) {
    .horse {
        right: 20vw;
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .headingLabel {
        font-size: 26px;
    }

    .subheadingLabel {
        font-size: 20px;
        width: 90%;
        margin-bottom: 0;
    }

    .heading {
        margin: 2em 0;
    }
}

@media (max-height: 768px) and (min-width: 768px) {
    .lowerHeading {
        display: flex;
        flex-direction: column-reverse;
    }

    .horse {
        position: static;
        width: 100%;
        scale: 80%;

        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .horse {
        display: flex;
        position: static;
        justify-content: center;
        scale: 75%;
    }
}

@media (min-height: 768px) and (max-width: 768px) {
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .foregroundLabel {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 80%;

        margin-top: 64px;
        margin-left: 0;
    }

    .horse {
        display: flex;
        position: static;
        justify-content: center;
        scale: 75%;
    }
}
