.hero {
    height: 100vh;
    min-height: 70vw;
    background-color: transparent;
}

.heroBackground {
    position: absolute;
    top: 0;

    background: linear-gradient(357.23deg, #FCFCFF 2.25%, rgba(252, 252, 255, 0) 53.95%), linear-gradient(180deg, #D1BBF3 0%, #FFD2D7 39.23%, #FFF1B2 84.63%);
    width: 100%;
    height: 100vh;
    min-height: 70vw;
    overflow: hidden;
    z-index: -100;
}

.foregroundLabel {
    margin-top: 25vh;
    margin-left: 10vw;
}

.heading {
    width: 80%;
    height: fit-content;
}

.headingLabel {
    font-size: 64px;
    font-weight: 700;
}

.subheadingLabel {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 56px;
    width: 600px;
}

@media (max-width: 768px) {
    .headingLabel {
        font-size: 26px;
    }

    .subheadingLabel {
        font-size: 20px;
        width: 90%;
        margin-bottom: 0;
    }

    .heading {
        margin: 2em 0;
    }
}

@media (max-height: 768px) {
    .foregroundLabel {
        display: flex;
        justify-content: center;

        margin-left: 0;
    }
}

@media (max-height: 768px) and (min-width: 768px) {
    .lowerHeading {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 1124px) and (max-height: 768px) {
    .hero {
        min-height: 768px;
    }

    .heroBackground {
        min-height: 768px;
    }
}

@media (min-width: 680px) and (max-width: 997px) and (max-height: 997px) {
    .hero {
        min-height: 1124px !important;
    }

    .heroBackground {
        min-height: 1124px !important;
    }
}

@media (min-width: 1600px) and (max-height: 997px) {
    .hero {
        min-height: 70vw !important;
    }

    .heroBackground {
        min-height: 70vw !important;
    }
}

@media (min-height: 768px) and (max-width: 768px) {
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .foregroundLabel {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 80%;

        margin-top: 64px;
        margin-left: 0;
    }

    .lowerHeading {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        width: fit-content;
    }
}
