.horse {
    position: absolute;
    right: 15vw;
    bottom: 10vh;
}

.horseAnimation {
    position: relative;
    width: 400px;
    height: 330px;
}

.horseAnimation svg {
    position: absolute;

    width: 100%;
    height: 100%;

    fill: var(--swm-landing-horse);
    stroke: var(--swm-landing-horse);
}

@media (max-width: 1280px) {
    .horse {
        bottom: 10vh;
    }
}

@media (max-width: 997px) {
    .horse {
        right: 5vw;
        bottom: 0;

        scale: 75%;
    }

    .horse, .horseAnimation {

    }
}

@media (max-width: 768px) {
    .horse {
        display: flex;
        position: static;
        justify-content: center;
        scale: 75%;
    }
}

@media (max-height: 997px) {
    .horse {
        /*right: 20vw;*/
        bottom: 0;
    }
}

@media (max-height: 768px) and (min-width: 768px) {
    .horse {
        position: static;
        width: 100%;
        scale: 80%;

        display: flex;
        justify-content: flex-end;
    }
}

@media (min-height: 768px) and (max-width: 768px) {
    .horse {
        display: flex;
        position: static;
        justify-content: center;
        scale: 75%;
    }
}

.variantA {
    visibility: hidden;
    animation: 0.5s show infinite;
}

.variantB {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.045s;
}

.variantC {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.09s;
}

.variantD {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.135s;
}

.variantE {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.18s;
}

.variantF {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.228s;
}

.variantG {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.272s;
}

.variantH {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.32s;
}

.variantI {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.363s;
}

.variantJ {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.41s;
}

.variantK {
    visibility: hidden;
    animation: 0.5s show infinite;
    animation-delay: 0.454s;
}

@keyframes show {
    0%   { visibility: visible;}
    4.54%  { visibility: visible; }
    10%  { visibility: hidden; }
    100% { visibility: hidden; }
}